<!-- Footer Components -->
<footer class="bg-dark text-white py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h5>Arka Leads</h5>
        <p>Marketing orientado a dados para acelerar crescimento.</p>
      </div>
      <div class="col-md-3">
        <h6>Links</h6>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white-50">Serviços</a></li>
          <li><a href="#" class="text-white-50">Cases</a></li>
          <li><a href="#" class="text-white-50">Contato</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h6>Newsletter</h6>
        <form>
          <div class="form-group">
            <input type="email" class="form-control form-control-sm" placeholder="Seu e-mail">
          </div>
          <button class="btn btn-success btn-sm btn-block">Inscrever</button>
        </form>
      </div>
    </div>
    <div class="text-center text-white-50 mt-4">© <?= date('Y'); ?> Arka Leads</div>
  </div>
</footer>
